# В репе только готовая переведённая справка 
# Рабочая кухня (исходники, инструменты, компилятор) в репозиторий не попадает.

# Игнорировать всё в корне...
/*

# ...кроме готовой справки, README, .gitignore
!/html/
!/README.md
!/.gitignore

# ...и файлов компиляции CHM (чтобы из репо можно было пересобрать)
!/AutoIt.hhp
!/AutoIt3 TOC.hhc
!/AutoIt3 Index.hhk
