# В репе только готовая переведённая справка 
# Рабочая кухня (исходники, инструменты, компилятор) в репозиторий не попадает.

# Игнорировать всё в корне...
/*

# ...кроме готовой справки
!/HTML/
!/README.md
!/.gitignore
!/AutoIt.hhp
!/AutoIt3 TOC.hhc
!/AutoIt3 Index.hhk
